<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for("static", filename = "register_style.css")}}">
  <script src="https://kit.fontawesome.com/1edbf99196.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form action="register.php" method="POST"></form> 
                <div class="input-group" id="inputGroup">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="input-field" id="mobileField">
                        <i class="fa-solid fa-mobile"></i>
                        <input type="text" name="mob_no" placeholder="Mobile Number">
                    </div>
                    <div class="input-field" id="profileField">
                        <i class="fa-solid fa-user-group"></i>
                        <input type="text" name="profession" placeholder="Teacher/Student">
                    </div>                       
                </div>
                
                <div class="reset-password">
                    <a href="#"> Forgot Password? </a>
                </div>
            </form>
            <div class="btn-field">
                <button type="submit" id="SignUpBtn" class="active"> 
                   <a href="/login" id="SignInBtn" style="text-decoration: none; color: inherit;">Sign Up</a>
                </button>
                <!-- <button type="button" id="SignInBtn" class="active">
                    <a href="#" id="SignInBtn" style="text-decoration: none; color: inherit;">Sign Up</a>
                </button> -->
                
            </div>            
        </div>
    </div>

</body>
</html>
